.

# test requirements
pre-commit
mypy
flake8
autopep8
black
pylint
pytest
pytest-cov
pytest-mock
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme
furo

cloudpickle

setuptools>=80.9.0

# publish to pypi
wheel
twine

types-six
